html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
}

.board {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 75%;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: blue;
  height: 100%;
  width: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-style: solid;
  font-size: 50px;
}
